/* ============== Generall ============== */
body{
  background-color: lightgrey;
}
.headLine{
  padding-left: 40px;
  position: relative;
  width: 257px;
  top: -31px;
  left: 94px;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
.page{
  position: relative;
  top: -15px;
  width: 100%;
  height: 39.5vh;
  color: black;
}

/* ============== Main App ============== */
#appBody{
  margin-left: calc(50% - 300px);
/*   height: 470px; */
  width: 600px;
/*   background-color: white; */
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px; 
  padding: 5px 10px 10px;
}
#headLinks{
  position: relative;
  top: -94px;
}

/* ============== Products List ============== */
#inputSearchContainer{
  position: relative;
  top: -134px;
  left: 366px;
}  
.inputWitdhSearch{
  width: 100px;
  height: 20px;
}  
.pageProductsList{
  position: relative;
  top: -60px;
  width: 100%;
  height: 39.5vh;
  color: black;
}  
#listGetting{
  position: relative;
  padding-bottom: 70px;
  font-size: 25px;
  text-align: center;
}  

#pageControlContainer{
  position: absolute;
  width: 463px;
  top: 465px;
  left: calc(50% - 150px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
}
#setPageContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110px;
}
#setPageContainer button{
  width: 25px;
  height: 30px;
}
#sideNr{
  margin-top: 4px;
  font-size: 20px;
}
#goToBasket{
  margin-top: -10px;
  width: 161px;
  height: 47px;
}
.inputSideNr{
  margin-top: 12px;
  margin-left: 10px;
  width: 40px;
  height: 20px;
}
.productHeadImg{
  width: 40px;
  margin-left: calc(50% - 20px);
}

/* ============== ProductDetails ============== */
#productDes{
  border: none;
  background-color: white;
  overflow-y: scroll;
  height: 25vh;
}
#buyProduktContainer{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#buyProdukt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#buyProduktInput{
  position: relative;
  width: 50px;
  height: 20px;
  top: 13px;
  left: 1px;
}
#addBasketBtn{
  position: relative;
  width: 161px;
  height: 47px;
  top: 0px;
  left: 17px;
}
#inStock{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 168px;
  top: 79px;
  left: 364px;
  font-size: 12px;
}
#descDistance{
  margin-top: 20px;
}
#setImgControlContainer{
  position: relative;
  padding-top: 47px;
  width: 300px;
  height: 100px;
  top: 20px;
  left: calc(50% - 155px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imgContainer{
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  left: -18px;
  border: 1px solid;
}
#productImgGallery{
  position: absolute;
  top: -50px;
  width: 80px;
  margin-left: calc(50% - 20px);
  z-index: 1;
}
#productImgGallery:hover{
  position: absolute;
  top: -400px;
  width: 400px;
  margin-left: calc(50% - 200px);
}
#setImgContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
}
#setImgContainer button{
  width: 25px;
  height: 30px;
}
#sideNr{
  margin-top: 2px;
  font-size: 20px;
}
#chooseBtn{
  position: relative;
  top: 15px;
  left: -223px;
  width: 300px;
  display: none;
  z-index: 1;
}
.chooseBtn {
  display: inline-block;
  padding: 5px 19px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.chooseBtn:hover {background-color: #3e8e41}

.chooseBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* ============== ShppingBasket ============== */
.headLineShoppingBasket{
  padding-left: 40px;
  position: relative;
  width: 257px;
  top: -164px;
  left: 283px;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
#shoppingBasketContainer{
  margin-top: -170px;
}
#proudctTotPrice{
  float: right;
  margin-right: 10px;
}
#resetBasketBtn{
  
}
/* ==============  Table style ============== */
#products {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: -80px;
  margin-bottom: 14px
}
#products td, #products th {
  border: 1px solid #ddd;
  padding: 8px;
}
#products tr:nth-child(even){
  background-color: #f2f2f2;
}
#products tr:hover{
  background-color: #ddd;
}
#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}