/* ============== Generall ============== */
body{
  background-color: lightgrey;
}
.headLine{
  padding-left: 40px;
  position: relative;
  width: 257px;
  top: -31px;
  left: 94px;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
main{
  position: relative;
  top: 15px;
  width: 100%;
  height: 39.5vh;
  color: black;
}
/* Fix a more common style at all buttons*/
.chooseBtn:hover {
  background-color: #3e8e41
}
.chooseBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#sideNr{
  margin-top: 4px;
  font-size: 20px;
}

/* ============== Main App ============== */
#appBody{
  margin-left: calc(50% - 300px);
/*   height: 470px; */
  width: 600px;
/*   background-color: white; */
  border-radius: 30px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px; 
  padding: 5px 10px 10px;
}
#headLinks{
  position: relative;
  top: -94px;
}

/* ============== Products List ============== */
#inputSearchContainer{
  position: relative;
  top: -134px;
  left: 366px;
}  
.inputWitdhSearch{
  width: 100px;
  height: 20px;
}  
.pageProductsList{
  position: relative;
  top: -60px;
  width: 100%;
  height: 39.5vh;
  color: black;
}  
#listGetting{
  position: relative;
  padding-bottom: 70px;
  font-size: 25px;
  text-align: center;
}  
#pageControlContainer{
  position: relative;
  width: 100%;
  top: 129px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#setPageContainer{
  position: relative;
  left: 99px;
  width: 120px;
}
#setPageContainerFlexBox{
  position: relative;
  left: -29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#setPageContainer button{
  width: 45px;
  height: 30px;
}
.productHeadImg{
  width: 40px;
  margin-left: calc(50% - 20px);
}
.inputSideNr{
  margin-top: 12px;
  margin-left: 10px;
  width: 40px;
  height: 20px;
}
#goToBasket{
  margin-top: -10px;
  width: 161px;
  height: 47px;
}
#showInStockContainer{
  position: relative;
  top: 50px;
  left: 250px;
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#showInStockContainer button{
  background-color: darkgrey;
  border: none;
  border-radius: 30px;
  margin-left: 20px;
  height: 22px;
  z-index: 1;
}
.showInStockAllProduct{
  width: 324px;
}
#showInStock1Letter{
  width: 50px;
  margin-left: 30px;
}
.showInStockRestetProduct{
  width: 75px;
}
#pageProductsListFooter{
  margin-top: 1px
}
#productListFooter{
  position: relative;
  top: -35px;
}
/* ============== ProductDetails ============== */
#productDesReviewContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -227px;
  
}
#productDesReviewHead{
  width: 55%;
  height: 35px;
  margin-top: 200px;
  background-color: #4CAF50;
  color: white;
}
#productDesReviewHeadLine{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-bottom: 12px;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-top: 7px;
} 
#productDesContainer{
  overflow-y: scroll;
  height: 160px;
}
#buyProductContainer{
  width: 200px;
  display: flex;
  flex-direction: row;
  margin-top: -40px;
  justify-content: space-between;
}
#buyProduct{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#buyProductInput{
  position: relative;
  width: 50px;
  height: 20px;
  top: 13px;
  left: 1px;
}
#addBasketBtn{
  position: relative;
  width: 161px;
  height: 47px;
  top: 0px;
  left: 17px;
}
#inStock{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 168px;
  top: 26px;
  left: 35px;
  font-size: 12px
}
#descDistance{
  margin-top: 20px;
}
#setImgControlContainer{
  position: relative;
  padding-top: 47px;
  width: 300px;
  height: 100px;
  top: 143px;
  left: calc(50% - 155px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#imgContainer{
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  left: -18px;
  border: 1px solid;
}
#productImgGallery{
  position: absolute;
  top: -50px;
  width: 80px;
  margin-left: calc(50% - 20px);
  z-index: 1;
}
#productImgGallery:hover{
  position: absolute;
  top: -400px;
  width: 400px;
  margin-left: calc(50% - 200px);
  z-index: 1;
}
#setImgContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  margin-top: 8px;
}
#setImgContainer button{
  width: 25px;
  height: 30px;
}
#chooseBtnShoppBasket{
  position: relative;
  top: 2px;
  left: -2px;
  width: 300px;
  display: none;
  z-index: 1;
}
.chooseBtn {
  display: inline-block;
  padding: 5px 19px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

/* ==============  Reviews ============== */
#reviewContainer{
  position: relative;
  top: -220px /* -41px */;
  left: calc(50% - 200px);
  border: 3px solid blue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 342px;
  background-color:white;  
  box-shadow: -11px 30px 86px 1000px grey;
  z-index: 2;
}
#reviewLinkContainer{
  width: 92%;
  display: flex;
  margin-left: 5%;
  margin-top: -284px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#reviewList{
  margin-top: 10px; 
  margin-left: 10px;
  background: none;
  border: none;
}
#addReview{
  margin-left: 10px;
}

.headLineRewview{
  font-size: 20px;
  text-align: center;
}
#nameRating{
  border: 1px solid;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#reviewInputName{
  width: 100px;
  height: 20px;
}
#review{
  width: 200px;
  margin-top: 10px;
}
#reviewInputMess{
  width: 100%;
  height: 100px;
}
#reviewInputRating{
  position: relative;
  width: 50px;
  height: 20px;
}
#noReviewsStr{
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
}  
#noReviewsFields{
  position: absolute;
  bottom: 72px;
}
#reviewBtn{
  position: absolute;
  top: 288px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
#reviewsList{

}
#reviewFieldEmtyMess{
  width: 400px;
  margin-top: -10px;
  margin-left: calc(50% - 200px);
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 25px;
}
/* ============== ShpppingBasket ============== */
.headLineShoppingBasket{
  padding-left: 40px;
  position: relative;
  width: 257px;
  top: -164px;
  left: 283px;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
}
#shoppingBasketContainer{
  margin-top: -170px;
}
#proudctTotPrice{
  float: right;
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  color: red;
  letter-spacing: 5px;
}
#basketFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

/* ============== Checkout Ordered ============== */
#checkoutOrderedContainer{
  position: relative;
  top: -500px;
  left: calc(50% - 200px);
  border: 3px solid blue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 600px;
  background-color:white;  
  box-shadow: -11px 30px 86px 1000px grey;
}
#checkoutOrderedProductHeadline{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-bottom: 12px;
  text-align: center;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  margin-top: 7px;
} 
#inputCheckoutOrder{
  width: 100px;
  height: 20px;
}
#checkoutOrderFieldEmtyMess{
  width: 400px;
  margin-top: -142px;
  margin-left: calc(50% - 200px);
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 25px;
}
#checkoutOrderBtn{
  position: absolute;
  top: 509px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* =============== Table style --> Generall ============== */
tbody {
  display: block;
  height: 352px;
  overflow: auto;
  overflow-x: hidden;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

/* =============== Table style --> Product / Basket ============== */
#tableProducts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: -65px;
}
#tableProducts td, #tableProducts th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableProducts tr:nth-child(even){
  background-color: #f2f2f2;
}
#tableProducts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.tableProductsTh1{
  width: 5%;
}
.tableProductsTh2{
  width: 50%;
}
.tableProductsBasketTh2{
  width: 20%;
}
/* =============== Table style --> Product Detail ============== */
#tableProduct1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: -80px;
  margin-bottom: 14px;
}
#tableProduct1 td, #tableProduct1 th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableProduct1 tr:nth-child(even){
  background-color: #f2f2f2;
}
#tableProduct1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.tableProduct1Th1{
  width: 37%;
}
.tableProduct1Th2{
  width: 15%;
}

/* ==============  Table style --> Review ============== */
#tableReview {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: -12px;
  margin-bottom: 14px;
}
#tableReview td, #tableReview th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableReview tr:nth-child(even){
  background-color: #f2f2f2;
}
#tableReview th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

/* ==============  Table style --> Checkout Ordered ============== */
#tableCheckoutOrdered1 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: -12px;
  margin-bottom: 14px;
}
#tableCheckoutOrdered1 td, #tableCheckoutOrdered1 th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableCheckoutOrdered1 tr:nth-child(even){
  background-color: #f2f2f2;
}
#tableCheckoutOrdered1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.table1CheckoutOrderedTh1, .table1CheckoutOrderedTh2{
  width: 35%;
}
#tableCheckoutOrdered2Container{
  margin-top: -300px;
}
#tableCheckoutOrdered2 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-bottom: 14px;
}
#tableCheckoutOrdered2 td, #tableCheckoutOrdered2 th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tableCheckoutOrdered2 tr:nth-child(even){
  background-color: #f2f2f2;
}
#tableCheckoutOrdered2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
